
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h2 {
  color: #dddddd;
  font-size: 24px;
  
}

#imputbox {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.imput-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  display: block;
  color: #dddddd;
}

input[type="number"] {
  margin: 0;
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #555555;
  color: #ffffff;
}

#resultado {
  margin-bottom: 20px;
}

h4 {
  color: #dddddd;
  font-size: 18px;
}

#totalFinal {
  display: block;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
}

#calcular {
  width: 100%;
  background-color: #43b347;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#calcular:hover {
  background-color: #45a049;
}
select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #555555;
  color: #ffffff;
}

select option {
  background-color: #555555;
  color: #ffffff;
}